/*** SIDEBAR ***/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url(https://www.wallpapertip.com/wmimgs/4-41454_free-download-wallpapers-hd-space-wallpaper-hd-pc.jpg);
  background-size: cover;
  background-position: center;
}

.side-bar {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(15px);
  width: 355px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

.side-bar::-webkit-scrollbar {
  width: 8px;
}

.side-bar::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.side-bar::-webkit-scrollbar-thumb:hover {
  background: #f5e6e6;
}

.side-bar.active {
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 5px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 9px 35px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: rgba(0, 0, 0, 0.39);
  transition: 0.3s ease;
  text-decoration: none;
}

.side-bar .menu .item i {
  margin-right: 15px;
  font-size: 19px;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu .item .sub-menu a {
  text-decoration: none;
  color: rgb(187, 187, 187);
  padding-left: 80px;
}

.rotate {
  transform: rotate(90deg);
}

.close-btn {
  position: absolute;
  color: #fff;
  font-size: 25px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}

.side-bar .dash .board a {
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  display: block;
  padding: 10px 35px;
  line-height: 60px;
}

.side-bar .dash .board a:hover {
  color: #fff;
}

.side-bar .dash .board i {
  margin-right: 15px;
  font-size: 22px;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.side-bar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.menu-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin: 25px;
  cursor: pointer;
}
